*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
a{
    
    text-decoration: none;
    color: white;
}
img{
    width: 100%;
}
h1{
    font-family: 'Lato', sans-serif;
    color:#FFFFFF;
    font-size: 32px;
}
h2{
    color:#FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
}
button{
    display: block;
    border: none;
    font: inherit;
    border-radius: 12px;
    width: 121px;
    height: 40px;
    background-color:#0059C1;
    color: #FFFFFF;
}
body{
    background-color:black;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
}
.logo{
    width: 100px;
    height: 40.56px;

}
#header-main{
    padding: 24px 0 26px;
    margin: 0 auto;
    max-width: 1274px;
    
}
.header{
    display: flex;

    align-items: center;
}
.nav_left{
    display: flex;
    margin-left: 301px;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    
}
.nav_left>li:last-child{
    margin-left: 43px;
}
.nav_right{
    display: flex;
    margin-left: 105px;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    
}
.nav_right>li:last-child{
    margin-left: 59px;
}
.nav_btn{
    margin-left: 293px;
    width: 121px;
    height: 40px;
}

.main-middle{
    margin: 0 auto;
    max-width: 1274px;
}
.footer-subscribe{
    width: 1274px;
    margin: 0 auto;
    
   
}
.footer_down-subcribe-first{
    height: 296px;
    width: 502px;
    border-radius: 12px;
    opacity: 0.1;
    
    
}
.footer_down-subcribe-second{
    height: 296px;
    width: 502px;
    border-radius: 12px;
    

}
.footer_down-subcribe-seconds{
    height: 296px;
    top: 1222px;
    border-radius: 12px;
    opacity: 0.1;
}
.test{
    display: flex;
}
    


